<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="my1" class="MyClass">
        <constructor-arg value="Hello!"/>
    </bean>
    <bean id="my2" class="MyClass">
        <constructor-arg value="Bay!"/>
    </bean>

</beans>

