<configuration>
    <appender name="my" class="appender.MyConsoleAppender">
        <prefix>PREFIX_</prefix>
    </appender>

    <appender name="encoder" class="appender.MyWithEncoderAppender">
        <encoder>
            <pattern>ENCODER: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="my"/>
        <appender-ref ref="encoder"/>
    </root>
</configuration>