requests
psutil
PyQt5
phoenixdb
lockfile
cachecontrol
mem_top
lxml
cryptography
pympler
kafka
confluent_kafka
matplotlib
scipy
numpy
pandas
sklearn
joblib
hdfs[avro,dataframe,kerberos]
Faker
freezegun
jinja2
pyyaml
