<component name="libraryTable">
  <library name="spring-expression-3.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-expression/3.2.4.RELEASE/jar/edde2efe828f5890f57aa153f55c5c994cf04489/spring-expression-3.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-expression/3.2.4.RELEASE/source/ee39551e01f5e2587320e75c6e63692c9e9f2d78/spring-expression-3.2.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>