<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <util:list id="myList">
        <bean class="MyClass">
            <constructor-arg value="Hello, List!"/>
        </bean>
        <bean class="MyClass">
            <constructor-arg value="Bay, List!"/>
        </bean>
    </util:list>
    
    <util:set id="mySet">
        <bean class="MyClass">
            <constructor-arg value="Hello, Set!"/>
        </bean>
        <bean class="MyClass">
            <constructor-arg value="Bay!, Set"/>
        </bean>
    </util:set>

</beans>

