<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean name="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
    <bean name="parent" class="ru.yaal.example.spring.partialbean.Parent" scope="prototype" abstract="true">
        <property name="dateFormat" ref="dateFormat"/>
    </bean>
    <bean name="child" class="ru.yaal.example.spring.partialbean.Child" parent="parent" scope="prototype">
        <constructor-arg name="date" value="null"/>
    </bean>
</beans>

