<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="FROM XML FILE CONFIG: %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="log4j2.xml.LogXmlFileConfigMain" level="trace"/>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>