<configuration>

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>rolling_file_appender.log</file>
        <encoder>
            <pattern>RollingFile: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>JMX: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="file"/>
    </root>
</configuration>